<!-- 좌측에 내 프로필, 카테고리 노출시키는 내용 -->

{% if page.author_profile or layout.author_profile or page.sidebar or page.sidebar_PE %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  

  
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | absolute_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
  {% endif %}
    

  {% include nav_list_main %}
  


  {% endif %}

  
  {% if site.search == true %}

  <!-- 돋보기를 누르면, main.js의 search__toggle이 실행된다. -->
  <!-- search__toggle이 실행되면, default.html에 있는 내용이 나타난다. -->
  <button class="search__toggle" type="button">
    <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
    <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.99 16">
      <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z" transform="translate(-.01)"></path>
    </svg>
  </button>
  {% endif %}
  <!-- <button class="greedy-nav__toggle hidden" type="button">
    <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
    <div class="navicon"></div>
  </button>
  <ul class="hidden-links hidden"></ul> -->
  

  </div>

